body{
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fff;
    margin: 0;
    color: #111;
}
h1, h2, h3 {
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    border-bottom: 1px solid #eee;
}
header .menu a.btn {
        text-decoration: none;
    color: #111;
    padding: 0.8rem 1.4rem;
    font-weight: 500;
    margin-left: 1rem;
    transition: 0.3s ease;
}